<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gestaocontasv220160504065307.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>gestaocontasv220160504065307.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GestaoContasV220160504065307</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GestaoContasV220160504065307</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DBCCC00Entities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:mssql2012azure001.database.windows.net,1433;Initial Catalog=DBCCC00;User ID=rodnaka@mssql2012azure001;Password=_numb3r$_;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:mssql2012azure001.database.windows.net,1433;Initial Catalog=DBCCC00;User ID=rodnaka@mssql2012azure001;Password=_numb3r$_;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="GestaoContasV2.Models.DBCCC00Entities, GestaoContasV2" MigrationConfiguration="GestaoContasV2.Migrations.Configuration, GestaoContasV2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:mssql2012azure001.database.windows.net,1433;Initial Catalog=DBCCC00;User ID=rodnaka@mssql2012azure001;Password=_numb3r$_;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:mssql2012azure001.database.windows.net,1433;Initial Catalog=DBCCC00;User ID=rodnaka@mssql2012azure001;Password=_numb3r$_;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-GestaoContasV2-20160409012111.mdf;Initial Catalog=aspnet-GestaoContasV2-20160409012111;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-GestaoContasV2-20160409012111.mdf;Initial Catalog=aspnet-GestaoContasV2-20160409012111;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBCCC00Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.GestaoContasEntity.csdl|res://*/Models.GestaoContasEntity.ssdl|res://*/Models.GestaoContasEntity.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:mssql2012azure001.database.windows.net,1433;Initial Catalog=DBCCC00;User ID=rodnaka@mssql2012azure001;Password=_numb3r$_;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mssql2012azure001.database.windows.net,1433;Initial Catalog=DBCCC00;User ID=rodnaka@mssql2012azure001;Password=_numb3r$_;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>